body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'UVN BAI SAU';
}

code {
  font-family: 'UVN BAI SAU';
}
@font-face {
  font-family: 'UVN BAI SAU';
  src: url('../assets/fonts/UVNBaiSau_B.TTF') format('truetype');
}